<!DOCTYPE html>
<html lang="en">
<head>
    <link href="css/tictctoe.css" rel="stylesheet">

    <title>Tic Tac Toe</title>
</head>
<body>
<div class="container">
    <h1 class="title">Tic<span>Tac</span>Toe</h1>
    <div class="status-action">
        <div class="status">x is next</div>
        <div class="reset">Reset</div>
    </div>
    <div class="game-grid">
        <div class="game-cell tl"></div>
        <div class="game-cell tm"></div>
        <div class="game-cell tr"></div>
        <div class="game-cell ml"></div>
        <div class="game-cell mm"></div>
        <div class="game-cell mr"></div>
        <div class="game-cell bl"></div>
        <div class="game-cell bm"></div>
        <div class="game-cell br"></div>
    </div>
</div>
<script src="js/tictactoe.js"></script>
</body>
</html>